<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Informativo - Príncipe de Gales</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/main_panel/style.css">
</head>
<body>
    <div class="header">
        <div class="logo-area">
            <img class="logo" src="static/main_panel/img/logo.png" alt="Logo Colegio">
            <div>
                <div class="school-name">Complejo Educacional<br>Príncipe de Gales</div>
            </div>
        </div>
        <div class="time" id="hora-actual"></div>
        <div class="weather-area">
            <span class="material-icons weather-icon">cloud</span>
            <span class="material-icons weather-icon" style="font-size:32px;margin-left:-18px;">grain</span>
            <span class="material-icons weather-icon" style="font-size:32px;margin-left:-18px;">grain</span>
            <span class="date" id="fecha-actual"></span>
        </div>
    </div>
    <div class="main-content">
        <div class="main-card" style="background-image:url('{{ main_card.imagen_url }}');">
            <div class="main-card-overlay">
                <div class="main-card-text">
                    {{ main_card.titulo|safe }}
                </div>
            </div>
        </div>
        <div class="side-cards">
            {% for evento in eventos %}
            <div class="side-card" style="background-image:url('{{ evento.imagen_url }}');">
                <div class="side-card-overlay">
                    <div class="side-card-date">
                        {{ evento.fecha_inicio }} - {{ evento.fecha_fin }}
                    </div>
                    <div class="side-card-title">
                        {{ evento.titulo }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="static/main_panel/script.js"></script>
</body>
</html>